<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.clark.nfcaes.plugin"
    version="0.0.9">

    <name>NFC</name>

    <description>Near Field Communication (NFC) Plugin. Read and write NDEF messages to tags or share NDEF messages with peers.</description>

    <license>MIT</license>
    <keywords>nfc, NFC, NDEF</keywords>
    <repo>https://github.com/clarklight/nfcaes.git</repo>
    <issue>https://github.com/clarklight/nfcaes/issues</issue>

    <!-- temp remove engines tag due to bug CB-5139 in cli 3.1.0-0.2.0 for blackberry 10
    <engines>
        <engine name="cordova" version=">=2.8.0" />
    </engines>
    -->

    <platform name="android">
        <js-module src="www/phonegap-nfc.js" name="NFC">
            <runs />
        </js-module>

        <!-- requires Cordova-2.8.0 -->
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="NfcPlugin">
                <param name="android-package" value="com.clark.nfc.plugin.test"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/src/com/clark/nfcaes/plugin/test.java"
            target-dir="src/android/src/com/clark/nfcaes/plugin"/>
        

        <!-- kludge for 2.9 support -->
      

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>

    </platform>

   



</plugin>
